---
import BaseLayout from '../layouts/BaseLayout.astro'
---


<BaseLayout title="About Me">
<main class="app-container pt-36">
<h1 class="text-6xl pb-2 font-bold">About Me</h1>
</main>
<section class="app-container py-12 mb-8">
<div
                        class="prose prose-neutral prose-lg md:prose-xl dark:prose-invert prose-img:rounded-xl prose-figure:text-center prose-img:mx-auto"
                >
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
et dolore magna aliqua. Amet purus gravida quis blandit turpis cursus in hac. Nisi est sit amet
facilisis magna etiam tempor orci eu.
</p>
<p>
自己紹介ページは現在準備中です。公開までしばらくお待ちください。
</p>
</div>
</section>
</BaseLayout>
